@import "compass/reset";
@import "compass/css3";

aside.intro {
    background-size: cover;
    background-repeat: no-repeat;

    .inner {
        height: 700px;

        h1, h2 {
            border-bottom: 1px solid #fff;
            padding: 1rem 2rem 0 0;
            margin-left: 2rem;
            font: 32px/42px 'Open Sans', sans-serif;
            font-weight: 800;
            color: #fff;
        }
        h2 {
            font: 22px/32px 'Open Sans', sans-serif;
        }
        p {
            font-size: 21px;
            color: #eee;
            padding: 1rem;
            margin: 1rem;
        }
    }
}

body.med {
    &.naloxone {
        aside.intro {
            background-image: url('../img/meds/naloxone.png');

            .inner {
                background: rgba(0,0,0,0.75);
                font-style: italic;

                h1,h2 {
                    color: rgba(255, 145, 0, 1);
                    border-bottom-color: rgba(255,145,0,1);
                }

                p {
                    font-family: 'Questrial', sans-serif;
                    font-size: 15px;
                    color: #eee;
                    padding: 1rem;
                    margin: 1rem;
                    font-style: normal;
                    text-transform: uppercase;
                    width: 41%;
                    line-height: 1.5em;
                    text-align: justify;

                    a {
                        color: rgb(255, 145, 0);

                        &:hover {

                        }
                    }
                }

                h1,h2,p {
                    margin-left: 50%;
                    max-width: 48%;
                }
                .p3 {
                    margin-left: 60%;
                    max-width: 31%;
                }
            }
        }
    }

    section {
        display: block;
        min-height: 600px;
        text-align: center;

        &.moa {
            background-color: #F8F2E4;
            padding-bottom: 3em;

            h3 {
                text-align: center;
                font: 400 58px/58px 'Old Standard TT';
                padding: 1em 0;
                margin: 0 auto;
            }

            p {
                font: 400 27px/58px 'Old Standard TT';
                line-height: 1.3em;
            }

        }
        &.indications,
        &.contraindications {
            background-color: #bdc3c7;
            h3 {
                font: 100px/1 'Oswald';
                text-align: left;
                margin: 0;
                color: #27ae60;
            }

            li {
                font-family: 'Oswald';
                font-size: 2em;
                max-width: 80%;
                margin: 1em auto;
            }

            .ebm {
                width: 500px;
                text-align: center;

                .links {
                    .link {
                        @include inline-block;
                        @include box-sizing(border-box);
                        width: 49%;
                        margin: 0 auto;
                        padding: 0.25em;
                        text-align: center;
                        font-size: 1.2em;
                    }
                }
            }
        }

        &.contraindications {
            h3 {
                color: #c0392b;
            }
            li {
                font-size: 1em;
            }

            table {
                width: 90%;
                margin: 1em auto;
                font-size: 16px;
                td {
                    vertical-align:top;
                }
            }
        }
        &.administration {
            background: url('../img/meds/intranasal.jpg');
            background-size: cover;

            .inner {
                background: rgba(0,0,0,0.6);
                padding: 1em;
                color: #fff;

                h4 {
                    color: #0085FF;
                    font-family: 'Oswald';
                    font-size: 2rem;
                    width: 960px;
                    margin: 0 auto;
                    border-bottom: 1px solid;
                    padding-bottom: 0.25em;
                }

            }
        }

        &.monitoring {
            background: url('../img/meds/lifepak15.jpg');
            backgrond-size: cover;
            background-attachment: fixed;

            dt {
                font: 800 27px/22px 'Open Sans', sans-serif;
                color: #f80;
            }
            dd {
                font: 400 20px/36px 'Muli', serif;
                line-height: 1.7em;
            }
            .inner {
                background: rgba(0,0,0,0.8);
                padding: 1em;
                color: #fff;
            }
        }

        h3, p, dl {
            font-family: 'Open Sans', sans-serif;
            display: block;
            width:960px;
            max-width: 100%;
            margin: 0 auto;
            padding: 1rem;

            dt {
                font-weight: 800;
                padding: 0.5em;
            }
            dd {
                padding-left: 1em;
            }
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 800;
            text-transform: uppercase;
        }

        .inner {
            text-align: left;
            margin: 0 auto;
            padding: 1em;
            box-style:border-box;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        ol, ul {
            text-align: left;
            list-style: disc;

            li {
                list-style: disc;
            }
        }

        p {
            font-size: 21px;
            line-height: 1.5em;
        }

        figure {
            margin: 1em auto;
            figcaption {

            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.ebm {
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #000;
    padding: 0.25em;
    margin: 0.5em auto;
    background: #fff;
    text-shadow: none;

    a {
        color: blue;

        &:before {
            font-family: 'Font Awesome';
        }
    }
}