@import "compass/reset";

aside.intro {
    background-size: cover;
    background-repeat: no-repeat;

    .inner {
        height: 700px;

        h1, h2 {
            border-bottom: 1px solid #fff;
            padding: 1rem 2rem 0 0;
            margin-left: 2rem;
            font: 32px/42px 'Open Sans', sans-serif;
            font-weight: 800;
            color: #fff;
        }
        h2 {
            font: 22px/32px 'Open Sans', sans-serif;
        }
        p {
            font-size: 21px;
            color: #eee;
            padding: 1rem;
            margin: 1rem;
        }
    }
}

body.med {
    &.naloxone {
        aside.intro {
            background-image: url('../img/meds/naloxone.png');

            .inner {
                background: rgba(0,0,0,0.75);
                font-style: italic;

                h1,h2 {
                    color: rgba(255, 145, 0, 1);
                    border-bottom-color: rgba(255,145,0,1);
                }

                p {
                    font-family: 'Questrial', sans-serif;
                    font-size: 15px;
                    color: #eee;
                    padding: 1rem;
                    margin: 1rem;
                    font-style: normal;
                    text-transform: uppercase;
                    width: 41%;
                    line-height: 1.5em;
                    text-align: justify;

                    a {
                        color: rgb(255, 145, 0);

                        &:hover {

                        }
                    }
                }

                h1,h2,p {
                    margin-left: 50%;
                    max-width: 48%;
                }
                .p3 {
                    margin-left: 60%;
                    max-width: 31%;
                }
            }
        }
    }

    section {
        display: block;
        min-height: 600px;

        &.moa {
            background-color: #F8F2E4;
            padding-bottom: 3em;

            h3 {
                text-align: center;
                font: 400 58px/58px 'Old Standard TT';
                padding: 1em 0;
                margin: 0 auto;
            }

            p {
                font: 400 27px/58px 'Old Standard TT';
                line-height: 1.3em;
            }

        }
        &.monitoring {
            background: url('../img/meds/lifepak15.jpg');
            backgrond-size: cover;
            background-attachment: fixed;
            dt {
                font: 800 27px/22px 'Open Sans', sans-serif;
                color: #f80;
            }
            dd {
                font: 400 20px/36px 'Muli', serif;
                line-height: 1.7em;
            }
            .inner {
                background: rgba(0,0,0,0.8);
                padding: 1em;
                color: #fff;
            }
        }
        h3, p, dl {
            font-family: 'Open Sans', sans-serif;
            display: block;
            width:960px;
            max-width: 100%;
            margin: 0 auto;
            padding: 1rem;

            dt {
                font-weight: 800;
                padding: 0.5em;
            }
            dd {
                padding-left: 1em;
            }
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 800;
            text-transform: uppercase;
        }
        p {
            font-size: 21px;
            line-height: 1.5em;
        }

        figure {
            margin: 1em auto;
            figcaption {

            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}